<div class="ui-g" style="padding:30px">
    <div class="ui-g-12" style="border: 2px solid #cccccc;" *ngFor="let user of userList">
        <div class="ui-g-6">
            <span>{{user.name}}</span>
        </div>
        <div class="ui-g-6 text-right">
            <button style="background: #3ba75d; width: 26%; color:white; border:none" pButton label="Send File" type="button" (click)="sendFileSection(user.id);"></button>
        </div>
    </div>
</div>

<div class="ui-g" style="padding:30px" *ngIf="showfileSection">
    <div class="ui-g-12">
        <div id="history"></div>
        <input type="file" style="color: transparent; width: 100px;" (change)="fileChangeEvent($event)" fileChangeEvent name="photo" id="upload-photo" />
        <span *ngIf="imageFlag==0" class="no_file_chosen">No file chosen</span>
        <span *ngIf="imageFlag==1" class="no_file_chosen">{{imageName}}</span>
        <button style="background: #3ba75d; width: 26%; color:white; border:none" pButton label="Send" type="button" (click)="sendFile(message)"></button>
    </div>
</div>