<p-dialog header="Wikipedia on MySwaasth.com" width="700" height="500" [(visible)]="dialog" modal="modal" showEffect="fade">
    <button style="background: #3ba75d; width: 26%; color:white" pButton label="accept" type="button" (click)="acceptCall()"></button>
    <button style="background: red; width: 26%;color:white" pButton label="reject" type="button" (click)="rejectCall()"></button>
</p-dialog>

<button id="endBtn" style="background: #3ba75d; width: 13%;" pButton label="End Call" type="button" (click)="endCall()"></button>


<!--<div class="ui-g" style="padding:30px">
    <div class="ui-g-12">
        <div id="history"></div>
        <input type="file" style="color: transparent; width: 100px;" (change)="fileChangeEvent($event)" fileChangeEvent name="photo"
            id="upload-photo" />
        <span *ngIf="imageFlag==0" class="no_file_chosen">No file chosen</span>
        <span *ngIf="imageFlag==1" class="no_file_chosen">{{imageName}}</span>
        <button style="background: #3ba75d; width: 26%; color:white; border:none" pButton label="Send" type="button" (click)="sendFile(message)"></button>
    </div>
</div>-->